<div class="ptb-section-header">
  <svg class="ptb-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15">
    </path>
  </svg>
  <h3>Make a Transfer</h3>
</div>

<form class="transfer-form" [formGroup]="transferForm" (ngSubmit)="sendTransfer()">
  <div class="ptb-form-control">
    <label>From account</label>
    <input type="text" formControlName="fromAccount">
  </div>
  <div class="ptb-form-control">
    <label>To account</label>
    <input type="text" formControlName="toAccount">
  </div>
  <div class="ptb-form-control">
    <label>Amount</label>
    <input type="text" formControlName="amount" placeholder="$ 0.00" required>
    <div class="errors-block">
      <div *ngIf="getField('amount').touched && getField('amount').hasError('required')">Amount is required.</div>
      <div *ngIf="getField('amount').touched && getField('amount').hasError('pattern')">Enter only number.</div>
      <div *ngIf="getField('amount').touched && getField('amount').hasError('invalidBalans')">You do not have enough
        money.</div>
    </div>
  </div>

  <div class="ptb-btn-wrap">
    <button class="ptb-btn" type="submit" [disabled]="transferForm.invalid">Submit</button>
  </div>
</form>
