<div class="ptb-section-header">
  <svg class="ptb-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15">
    </path>
  </svg>
  <h3>Make a Transfer</h3>
</div>

<form class="transfer-form">
  <div class="ptb-form-control">
    <label>From account</label>
    <input type="text" value="Free Checking(4692) - $5824.76" disabled>
  </div>
  <div class="ptb-form-control">
    <label>To account</label>
    <input type="text" value="Georgia Power Electric Company" disabled>
  </div>
  <div class="ptb-form-control">
    <label>Amount</label>
    <input type="text" placeholder="$ 0.00">
  </div>

  <div class="ptb-btn-wrap">
    <button class="ptb-btn" type="submit">Submit</button>
  </div>
</form>
