@import "../../../styles/variables.scss";

:host {
  background: $white-color;
  display: block;

  .ptb-section-header {
    padding: 7px 15px;

    .ptb-icon {
      width: 20px;
    }
  }
}

.ptb-btn-wrap {
  padding-top: 40px;
  text-align: right;
}

.transfer-form {
  padding: 23px 20px 30px;
  display: block;
}
