html,
body {
  height: 100%;
}

body {
  min-height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Kanit", "Arial", sans-serif;
}

button {
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.ptb-form-control input {
  display: block;
  width: 100%;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid $gray-light-color;
  color: $gray-light-color;
  font-weight: 300;
  font-size: 15px;
  padding: 3px 0;
  color: $gray-dark-color;
}

.ptb-form-control {
  margin-bottom: 12px;
  position: relative;

  label {
    text-transform: uppercase;
    font-size: 13px;
  }

  .errors-block {
    position: absolute;
    left: 0;
    top: 55px;
    font-weight: 200;
    font-size: 12px;
    color: $red-color;
  }
}
