$white-color: #ffffff;
$orange-color: #ee7939;
$orange-dark-color: #cc4b0c;

$green-dark-colo: #0c8396;
$gray-color: #cccccc;
$gray-light-color: #eeeeee;
$regular-color: #333333;
$gray-dark-color: #999999;

$royalblue-color: royalblue;
$blue-color: blue;
