$white-color: #ffffff;
$gray-light-color: #eeeeee;
$gray-color: #cccccc;
$gray-dark-color: #999999;
$regular-color: #333333;

$green-dark-colo: #0c8396;

$royalblue-color: royalblue;
$blue-color: blue;

$orange-color: #ee7939;
$orange-dark-color: #cc4b0c;
$red-color: red;
