.ptb-transactions {
  display: flex;
  margin: 0 -15px;
}
.ptb-form-wrapper {
  padding: 0 15px;
  flex: 320px;
  max-width: 320px;
}

.ptb-transactions-list-wrapper {
  flex: 1 1 auto;
  padding: 0 15px;
}
